.CardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;

  &-Menu {
    position: absolute !important;
    left: 86vw;
  }

  &-Card {
    width: 100%;
  }

  &-Image {
    height: 250px;
    object-fit: contain;
  }

  &-CardTitle {
  }
}
