@import './_settings';
@import './_reset.css';

/* apply a natural box layout model to all elements, but allowing components to change */

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--text-color-normal);
  font-family: $ff-sans-serif;
  font-size: $fz-body;
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body *:not(img) {
  -webkit-touch-callout: none;
}

body, .app {
  overflow: hidden;
  max-height: 100vh;
}

.app {
  max-width: $maw-App;
  width: 100%;
}
