@import '../../styles/settings';

.Header {
  display: flex;
  font-size: $fz-giant;
  font-weight: $fw-black;
  justify-content: space-between;
  padding-left: $p-xl;
  padding-top: $p-xl;

  &-link {
    text-decoration: none;
    color: var(--text-color-normal);
  }

  &-actions {
    padding-right: $p-xl;
    display: flex;
    
    & > * {
    margin-left: $p-l;
    }
  }

  &-action {
    color: var(--text-color-normal);
    fill: currentColor;
    width: $fz-xxl;
    height: $fz-xxl;
  }

  &-dots, &-favorites {
    fill: currentColor;
  }

  &-menu {
    font-size: $fz-m;
    line-height: 2em;
    font-weight: $fw-regular;
    padding: 0 $p-l;
  }

  &-menuLink {
    text-decoration: none;
    color: inherit;
  }

  &-logoutLink {
    display: flex;
    align-items: center;
  }

  &-menuPhoto {
    border-radius: 50%;
    height: 42px;
    margin-right: 15px;
    width: 42px;
  }

  @media (prefers-color-scheme: dark) {
    &-action {
      display: none;
    }
  }
  @media (prefers-color-scheme: light) {
    &-action {
      display: none;
    }
  }
}
