@import '../../styles/settings';

.Header {
  display: flex;
  font-size: $fz-giant;
  font-weight: 800;
  justify-content: space-between;
  padding-left: $p-xl;
  padding-top: $p-xl;

  &-link {
    text-decoration: none;
    color: var(--text-color-normal);
  }

  &-actions {
    padding-right: $p-xl;
  }

  &-action {
    color: var(--text-color-normal);
    fill: currentColor;
    width: $fz-xxl;
    height: $fz-xxl;
  }

  @media (prefers-color-scheme: dark) {
    &-action {
      display: none;
    }
  }
  @media (prefers-color-scheme: light) {
    &-action {
      display: none;
    }
  }
}
