@import '../../styles/settings';

.FullScreenImage {
  -webkit-transform: translate3d(0,0,0);
  align-items: center;
  background-color: $c-background-transparent;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: scroll;
  position: absolute;
  scroll-behavior: smooth;
  top: 0;
  width: 100vw;
  z-index: 2;

  &.is-open {
    display: flex;
  }

  &-closeIconContainer {
    border-radius: 50%;
    background-color: #ffffff7a;
    box-shadow: $bxsh-m;
    font-size: $fz-giant;
    position: fixed;
    right: $p-l;
    top: $p-l;
    z-index: 3;
  }

  &-image {
    margin: auto 0;
    max-width: 100%;
  }
}

