@import '../../styles/settings';

.Root {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  max-height: 100vh;
  overflow: hidden;

  &-page {
    display: flex;
    flex-grow: 1;
  }
}
