@import '../../styles/settings';

.Image {

  &.scaleDown {
  width: 100%;
  height: 100%;
    object-fit: scale-down;
  }

  &.cover {
  width: 100%;
  height: 100%;
    object-fit: cover;
  }

  &.link {
    cursor: pointer;
  }

  &.is-loading {
    height: 100%;
    object-fit: cover;
  }
}
