.Image {
  overflow: hidden;

  &.has-scrolling {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .has-overflow {
    background-color: rgb(0, 188, 212);
    color: white;
    padding: 5px;
    text-align: center;
  }
}
